body{
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
}

/**
============================================
for menu
============================================
**/

:global(.menu) {
  float: right;
  background: #00bcd4;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  padding: 0;
}

:global(.menu-ul) {
  width: 80%;
  float: right;
  margin-right: 100px;
  font-size: 14px;
  font-weight: 500;
}

:global(.menu-ul>li) {
  float: right;
  padding: 25px 10px;
  display: inline-block;
}

:global(.menu-ul a) {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

:global(.menu-active a) {
  color: #FFF;
}

:global(#menu-logo) {
  content: url("../images/logo.jpg");
  width: 60px; height: 60px;
  border-radius: 30px;
  position: relative;
  left: 20px;
  top: 3px;
}

:global(#menu-logo-title){
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  top: 25px;
  left: 90px;
}

/**
============================================
for submit form
============================================
**/

:global(.main-container) {
  position: relative;
  left: 80px;
  width: 70%;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
}

:global(.icon-delete-container) {
  width: 5%;
  padding-top: 20px;
}

:global(.text-area){
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  padding: 10px;
  color: #424242;
  font-style: italic;
}

:global(.side-bar) {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 220px;
  background: #FFF;
  overflow:auto;
}


/**
============================================
for home page
============================================
**/

:global(.home-page) {
  width: 100%;
  height: 130%;
  background-size: 100% 100%;
  background-image: url("../images/tpc.jpg");
}

:global(.main-notice) {
  width: 80%;
  display: block;
  margin: auto;
  font-size: 20;
  color: #FFF;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 15px;
  font-style: italic;
  top: 150px;
  left: 100px;
  border-radius: 20px;
}

:global(.main-submit-info-button) {
  position: absolute;
  top: 500px; left: 30%;
}

:global(.main-edit-info-button) {
  position: absolute;
  top: 500px; left: 47%;
}

:global(.main-submit-info-button:hover) {
  top: 480px;
}

:global(.main-edit-info-button:hover) {
  top: 480px;
}

:global(.pretty-button) {
  padding: 15px 25px;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 500;
  outline:none;
  background: rgb(46, 200, 102);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  transition: 0.3s;
}

:global(.pretty-button a) {
  text-decoration: none;
  color: #FFF;
}

:global(.pretty-button:hover) {
  color: #FFF;
  background: #388E3C;
  font-size: 20px;
  padding: 20px 20px;
}

:global(.pretty-button:active) {
  color: #FFF;
  background: #2E7D32;
}

/**
============================================
for edit page
============================================
**/

:global(.get-info-container) {
  display: block;
  width: 500px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 400px;
  box-shadow: 1px 1px 1px 1px #BBBBBB;
}

:global(.get-info-container h1) {
  font-weight: 500;
  font-size: 30px;
  color: #00bcd4;
  margin: 10px 0 20px;
}
